@page "/dashboard"
@inject HttpClient Http

@inject IState<AppState> State
@inject IDispatcher Dispatcher

<div class="content" style="display: flex;">
    <WeatherReportList WeatherReports=@State.Value.Reports />
    <WeatherReportMap WeatherReports=@State.Value.Reports />
</div>

@functions { 
    protected override void OnInit()
    {
        State.Subscribe(this);
        Dispatcher.Dispatch(new GetWeatherReportsAction());
    }
}